doctypehtml
html(lang="en")
    head 
        meta(name="author" content="Beshoy Samy Englizy")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Egypt
        link(rel="stylesheet" href="style/style.css")
        link(rel="icon" href="imgs/logo.icon")
    body 
        //- Start Header
        header 
            div.logo
                img(src="imgs/logo.png" alt="logo")
            div
                span Home
                span About
                span Services
        //- End Header
        //- Start Section
        section
            div.text
                h2 Giza-Pyramids
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis dolorum aliquid, 
                    br
                    | quam, necessitatibus dignissimos consectetur possimus voluptas eaque accusan
                div Explore
            div 
                img(src="imgs/landing-2.jpg" alt="pyramids")
        //- End Section